/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$break-small: 320px;
$break-medium: 600px;
$break-large-min:1024px;
$break-large: 1200px;


//----------------IMAGE AREA--------------------//
$image-background-one: url("../img/b+k.jpg");
$image-background-two: url("../img/k-and-b-hug.jpg");
$image-background-three: url("../img/k-b-beach.jpg");
$image-background-four: url("../img/k-b-biking.jpg");
$image-background-five: url("../img/k-b-mountains.jpg");




//----------------COLOR AREA--------------------//
$black:black;
$gray:#a8a8a9;
$white:#ffffff;
$tan:#e3e3dd;
$dark-blue:#223161;
$mid-blue:#3f5b80;

$secondary-blue:#1d6184;
$secondary-blue-light:#4494b7;

//----------------FONT TYPE SECTION--------------------//

$Quicksand-font:'Quicksand', sans-serif;
$Tamarillo-font: 'Tamarillo', sans-serif;
$Marayam-font: 'Marayam Alternate';


//----------------FONT WEIGHT SECTION--------------------//
$light-font:light;



//----------------SIZING SECTION--------------------//

$full-size:100%;


$padding-less:5px 5px 5px 5px;
//----------------UNIVERSAL STYLES-------------------//



html, body, .off-canvas-wrap, .inner-wrap, .main-section
{
  height: 100%;
}

.inner-wrap{height:100%;
			min-height:446px;
			height:100px;
			position:fixed;
			z-index:25090;}

			nav .tab-bar{height:45px;}

.off-canvas-wrap{height:100%;}

.bold{font-weight:bold;}

.page{width:100%;
height:100%;}
body, h1, h2, h3, h4, p {font-family:$Quicksand-font;
						font-weight:$light-font;
						color:$dark-blue;
						line-height:normal;
						letter-spacing:.5px;
						
						}

h1, h2, h3, h4, p{padding:$padding-less;}


body{background:inherit;
font-family:$Quicksand-font;}


h1{}

h2{
color:$dark-blue;
font-size:36px;}

h3{font-size:18px;
text-transform:uppercase;}

nav{
	text-transform:uppercase;


ul{list-style-type:none;
}


}

a{color:$secondary-blue-light;
text-decoration:none;}

a .index{color:$white;}

a:hover{color:hsla(0,0%,0%,0.71);}



.quicksand-font{font-family:$Quicksand-font;
font-weight:$light-font;}

.subheader-info h1{font-family:'Tamarillo', sans-serif;}


//----------------INDEX.HTML STYLES-------------------//


.background-image-one{
  background-image:$image-background-one;
  background:$image-background-one no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.background-image-two{
  background-image:$image-background-two;
  background: $image-background-two no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
   -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


.background-image-three{
  background-image:$image-background-three;
  background: $image-background-three no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
   -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}



.background-image-four{
  background-image:$image-background-four;
  background: $image-background-four no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
   -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.background-image-five{
  background-image:$image-background-five;
  background: $image-background-five no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
   -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}




.navigation-section{display:initial;
					position:relative;
					top:400px;
					width:$full-size;



					li{
						text-shadow: -1px 2px 10px $dark-blue;
						padding-left:15px;
						padding-right:15px;
						float:left;
						}

					}



.home-page {height:100%;}


#index-nav{	
			top:500px;

			a{color:$white;}
		}


//----------------CONTENT PAGE STYLES-------------------//

.header{background-color:$dark-blue;
color:white;}

.inner-column-left{width:45%;
float:left;}

.inner-column-right{float:right;
width:45%;}

.aligned-content{text-align:left;}

.photos img{content-align:center;
width:400px;
float:left;}

.photos p{float:right;
width:40%;}

.float-left{float:left;}

.subheader-info h2{color:$dark-blue;}
//------------IMAGES----------------//
h1 .header-photo{margin-bottom:-50px;}

.wedding-party-photo{width:200px;
					float:left;}

.subheader-info{margin-top:-50px;
padding-bottom:10px;
font-size:30px;}


.main-side-navigation{text-align:left;
color:$dark-blue;}


.tan-section{background-color:$tan;
text-wrap:normal;}

.tan-section img{content-align:center;
display:flex;}


.section-content{padding:10px 10px 10px 10px;}
.section-content img{padding:5px 5px 5px 5px;}


.side-nav li a:not(.button){
	color:$dark-blue;
	}

.side-nav li a:not(.button):hover{
	color:hsla(226,48%,26%,0.80);
	}
.side-nav{font-family:'Quicksand', sans-serif;}

.home-page {height:100%;}


.hold-canvas {
  height: 100%;
}
.hold-canvas .inner-wrap{
  height: 100%;
}

.flex-video{max-width:250px;
		max-height:250px;
		align-content: center;}


//------EDITS FOR OFF-CANVAS MENU------//

.mobile-only{background-color:$dark-blue;
			}
.left-small{border:none;
padding-right:2px;}

//------ Mobile------//
 @media screen and (max-width: $break-medium) {

	html .background-image{background-image:$image-background-one;}

 	.navigation-section{
 	position:relative;
 	top:80%;

	li{width:100%;
		font-size:18px;}
   
  }



h3{font-size:25px;
margin-left:auto;
margin-right:auto;
content-align:center;
text-align:center;
color:$gray;
text-transform:uppercase;}

h4{
	padding-top:5px;
	font-size:20px;}

h5{color:$gray;
padding-top:5px;
padding-bottom:5px;}

.desktop{display:none;}

.subheader-info{float:left;
}

.subheader-info h2{
	font-size:30px;
	margin-left:-40px;

}
.subheader-info h1{	margin-top:100px;
					font-size:50px;
					margin-left:-60px;}

.subheader-info h1, .subheader-info h2{color:$dark-blue;}
}



//------ Desktop ------//
 @media screen and (min-width: $break-medium) {
.desktop{display:block;}
.mobile-only{display:none;}


.subheader-info{
	width:100%;
	font-size:24px;
	padding-top:10px;
}

.main-side-navigation{text-align:right;}


h3{font-size:25px;
color:$gray;
text-transform:uppercase;}

h4{text-transform:uppercase;}


.subheader-info h2{
	margin-left:40px;
	font-size:32px;

}



body{background-color:$dark-blue;
color:$white;}

.subheader-info h1, .subheader-info h2{color:$white;}

.side-nav li a:not(.button){
	color:$white;
	}

.tk-tamarillo{font-size:50px;
width:100%;
height:100%;}



.subheader-info h1{font-size:90px;

}
.subheader-info{font-size:50px;
margin-top:20px;}

footer .row p{color:$white;}

.section-content .row{
	background-color:$white;}

}

//------ Tablet ------//


  @media screen and (min-width:$break-medium) and (max-width: $break-large-min) {

	html .background-image-one{background-image:$image-background-one;}

	body{background-color:$white;}
	
	.subheader-info h2{color:$dark-blue;}

.subheader-info h1, .subheader-info h2{color:$dark-blue;
text-align:center;}


.tk-tamarillo{font-size:50px;
font-size:$dark-blue;
width:100%;
height:100%;}


.side-nav li a:not(.button){
	color:$dark-blue;
	}



 	.navigation-section{
 				position:relative;
 				top:210px;
 				font-size:19px;

 				li{width:100%;}
   
  }



 .desktop{display:none;}
.mobile-only{display:block;}

h2{margin-left:auto;
margin-right:auto;
content-align:center;
text-align:center;}

h3{font-size:25px;
margin-left:auto;
margin-right:auto;
content-align:center;
text-align:center;
color:$gray;
text-transform:uppercase;}

h4{
	padding-top:5px;
	font-size:20px;}

h5{color:$gray;
padding-top:5px;
padding-bottom:5px;}





   
  }





