/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 44, ../sass/screen.scss */
body, h1, h2, h3, h4, p {
  font: 100% "Quicksand", sans-serif;
  font-weight: light;
  color: black;
}

/* line 50, ../sass/screen.scss */
.background-image-one {
  background-image: url("../img/b+k.jpg");
  background: url("../img/b+k.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 64, ../sass/screen.scss */
.background-image-two {
  background-image: url("../img/k-and-b-hug.jpg");
  background: url("../img/k-and-b-hug.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 79, ../sass/screen.scss */
.background-image-three {
  background-image: url("../img/k-b-beach.jpg");
  background: url("../img/k-b-beach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 95, ../sass/screen.scss */
.background-image-four {
  background-image: url("../img/k-b-biking.jpg");
  background: url("../img/k-b-biking.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 109, ../sass/screen.scss */
.background-image-five {
  background-image: url("../img/k-b-mountains.jpg");
  background: url("../img/k-b-mountains.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 123, ../sass/screen.scss */
h1 {
  float: left;
  width: 300px;
  margin-top: -20px;
  margin-bottom: -12px;
}

/* line 128, ../sass/screen.scss */
h2 {
  padding-top: 60px;
  padding-left: 100px;
  color: #223161;
}

/* line 132, ../sass/screen.scss */
h3 {
  font-size: 18px;
}

/* line 134, ../sass/screen.scss */
.main-side-navigation {
  text-align: right;
  margin-top: -1600px;
  margin-right: -90px;
  color: #223161;
}

/* line 140, ../sass/screen.scss */
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-weight: light;
}

/* line 143, ../sass/screen.scss */
.tan-section {
  background-color: #e3e3dd;
  text-wrap: normal;
}

/* line 146, ../sass/screen.scss */
.section-content {
  padding: 10px 10px 10px 10px;
}

/* line 147, ../sass/screen.scss */
.section-content img {
  padding: 5px 5px 5px 5px;
}

/* line 149, ../sass/screen.scss */
.tan-section img {
  content-align: center;
  display: flex;
}

/* line 151, ../sass/screen.scss */
.side-nav li a:not(.button) {
  color: #223161;
}

/* line 155, ../sass/screen.scss */
.side-nav li a:not(.button):hover {
  color: rgba(34, 49, 98, 0.8);
}

/* line 158, ../sass/screen.scss */
.side-nav {
  font-family: 'Quicksand', sans-serif;
}

/* line 160, ../sass/screen.scss */
.row {
  margin-left: 0;
}

/* line 165, ../sass/screen.scss */
body {
  background: inherit;
}

/* line 168, ../sass/screen.scss */
.home-page {
  height: 100%;
}

/* line 172, ../sass/screen.scss */
nav {
  display: inline-flex;
  position: fixed;
  bottom: 20px;
  font-size: 18px;
}

/* line 179, ../sass/screen.scss */
ul {
  list-style-type: none;
}

/* line 182, ../sass/screen.scss */
li {
  text-shadow: -1px 2px 10px white;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 190, ../sass/screen.scss */
.quicksand-font {
  font-family: 'Quicksand', sans-serif;
  font-weight: light;
}

/* line 193, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 197, ../sass/screen.scss */
a:hover {
  color: rgba(0, 0, 0, 0.71);
}
