/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 58, ../sass/screen.scss */
html, body, .off-canvas-wrap, .inner-wrap, .main-section {
  height: 100%;
}

/* line 63, ../sass/screen.scss */
.inner-wrap {
  height: 100%;
  min-height: 446px;
  height: 100px;
  position: fixed;
  z-index: 25090;
}

/* line 69, ../sass/screen.scss */
nav .tab-bar {
  height: 45px;
}

/* line 71, ../sass/screen.scss */
.off-canvas-wrap {
  height: 100%;
}

/* line 73, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 75, ../sass/screen.scss */
.page {
  width: 100%;
  height: 100%;
}

/* line 77, ../sass/screen.scss */
body, h1, h2, h3, h4, p {
  font-family: "Quicksand", sans-serif;
  font-weight: light;
  color: #223161;
  line-height: normal;
  letter-spacing: .5px;
}

/* line 85, ../sass/screen.scss */
h1, h2, h3, h4, p {
  padding: 5px 5px 5px 5px;
}

/* line 88, ../sass/screen.scss */
body {
  background: inherit;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}

/* line 93, ../sass/screen.scss */
h2 {
  color: #223161;
  font-size: 36px;
}

/* line 97, ../sass/screen.scss */
h3 {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 100, ../sass/screen.scss */
nav {
  text-transform: uppercase;
}
/* line 104, ../sass/screen.scss */
nav ul {
  list-style-type: none;
}

/* line 110, ../sass/screen.scss */
a {
  color: #4494b7;
  text-decoration: none;
}

/* line 113, ../sass/screen.scss */
a .index {
  color: #ffffff;
}

/* line 115, ../sass/screen.scss */
a:hover {
  color: rgba(0, 0, 0, 0.71);
}

/* line 119, ../sass/screen.scss */
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-weight: light;
}

/* line 122, ../sass/screen.scss */
.subheader-info h1 {
  font-family: 'Tamarillo', sans-serif;
}

/* line 128, ../sass/screen.scss */
.background-image-one {
  background-image: url("../img/b+k.jpg");
  background: url("../img/b+k.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 142, ../sass/screen.scss */
.background-image-two {
  background-image: url("../img/k-and-b-hug.jpg");
  background: url("../img/k-and-b-hug.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 157, ../sass/screen.scss */
.background-image-three {
  background-image: url("../img/k-b-beach.jpg");
  background: url("../img/k-b-beach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 173, ../sass/screen.scss */
.background-image-four {
  background-image: url("../img/k-b-biking.jpg");
  background: url("../img/k-b-biking.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 187, ../sass/screen.scss */
.background-image-five {
  background-image: url("../img/k-b-mountains.jpg");
  background: url("../img/k-b-mountains.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 204, ../sass/screen.scss */
.navigation-section {
  display: initial;
  position: relative;
  top: 400px;
  width: 100%;
}
/* line 211, ../sass/screen.scss */
.navigation-section li {
  text-shadow: -1px 2px 10px #223161;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

/* line 222, ../sass/screen.scss */
.home-page {
  height: 100%;
}

/* line 225, ../sass/screen.scss */
#index-nav {
  top: 500px;
}
/* line 228, ../sass/screen.scss */
#index-nav a {
  color: #ffffff;
}

/* line 234, ../sass/screen.scss */
.header {
  background-color: #223161;
  color: white;
}

/* line 237, ../sass/screen.scss */
.inner-column-left {
  width: 45%;
  float: left;
}

/* line 240, ../sass/screen.scss */
.inner-column-right {
  float: right;
  width: 45%;
}

/* line 243, ../sass/screen.scss */
.aligned-content {
  text-align: left;
}

/* line 245, ../sass/screen.scss */
.photos img {
  content-align: center;
  width: 400px;
  float: left;
}

/* line 249, ../sass/screen.scss */
.photos p {
  float: right;
  width: 40%;
}

/* line 252, ../sass/screen.scss */
.float-left {
  float: left;
  margin-left: 10px;
}

/* line 256, ../sass/screen.scss */
.subheader-info h2 {
  color: #223161;
}

/* line 258, ../sass/screen.scss */
h1 .header-photo {
  margin-bottom: -50px;
}

/* line 260, ../sass/screen.scss */
.wedding-party-photo {
  width: 200px;
  float: left;
}

/* line 263, ../sass/screen.scss */
.subheader-info {
  margin-top: -50px;
  padding-bottom: 10px;
  font-size: 30px;
}

/* line 268, ../sass/screen.scss */
.main-side-navigation {
  text-align: left;
  color: #223161;
}

/* line 272, ../sass/screen.scss */
.tan-section {
  background-color: #ffffff;
  text-wrap: normal;
}

/* line 275, ../sass/screen.scss */
.tan-section img {
  content-align: center;
  display: flex;
}

/* line 278, ../sass/screen.scss */
.map-edit {
  margin-left: 10px;
  color: #223161;
}

/* line 281, ../sass/screen.scss */
.section-content .row .row {
  margin-left: auto;
  margin-right: auto;
}

/* line 284, ../sass/screen.scss */
.section-content {
  padding: 10px 10px 10px 10px;
}

/* line 285, ../sass/screen.scss */
.section-content img {
  padding: 5px 5px 5px 5px;
}

/* line 288, ../sass/screen.scss */
.side-nav li a:not(.button) {
  color: #223161;
}

/* line 292, ../sass/screen.scss */
.side-nav li a:not(.button):hover {
  color: rgba(34, 49, 98, 0.8);
}

/* line 295, ../sass/screen.scss */
.side-nav {
  font-family: 'Quicksand', sans-serif;
}

/* line 297, ../sass/screen.scss */
.home-page {
  height: 100%;
}

/* line 300, ../sass/screen.scss */
.hold-canvas {
  height: 100%;
}

/* line 303, ../sass/screen.scss */
.hold-canvas .inner-wrap {
  height: 100%;
}

/* line 307, ../sass/screen.scss */
.flex-video {
  max-width: 250px;
  max-height: 250px;
  align-content: center;
}

/* line 314, ../sass/screen.scss */
.mobile-only {
  background-color: #223161;
}

/* line 316, ../sass/screen.scss */
.left-small {
  border: none;
  padding-right: 2px;
}

@media screen and (max-width: 600px) {
  /* line 322, ../sass/screen.scss */
  html .background-image {
    background-image: url("../img/b+k.jpg");
  }

  /* line 324, ../sass/screen.scss */
  .navigation-section {
    position: relative;
    top: 80%;
  }
  /* line 328, ../sass/screen.scss */
  .navigation-section li {
    width: 100%;
    font-size: 18px;
  }

  /* line 334, ../sass/screen.scss */
  .inner-column-left {
    width: 100%;
    float: left;
  }

  /* line 337, ../sass/screen.scss */
  .inner-column-right {
    float: right;
    width: 100%;
  }

  /* line 340, ../sass/screen.scss */
  .photos p {
    float: right;
    width: 100%;
  }

  /* line 343, ../sass/screen.scss */
  .tan-section {
    background-color: #e3e3dd;
    text-wrap: normal;
  }

  /* line 346, ../sass/screen.scss */
  h3 {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    content-align: center;
    text-align: center;
    color: #a8a8a9;
    text-transform: uppercase;
  }

  /* line 354, ../sass/screen.scss */
  h4 {
    padding-top: 5px;
    font-size: 20px;
  }

  /* line 358, ../sass/screen.scss */
  h5 {
    color: #a8a8a9;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* line 362, ../sass/screen.scss */
  .desktop {
    display: none;
  }

  /* line 364, ../sass/screen.scss */
  .subheader-info {
    float: left;
  }

  /* line 366, ../sass/screen.scss */
  .section-content .row {
    background-color: #e3e3dd;
  }

  /* line 369, ../sass/screen.scss */
  .subheader-info h2 {
    font-size: 30px;
    margin-left: -40px;
  }

  /* line 374, ../sass/screen.scss */
  .subheader-info h1 {
    margin-top: 100px;
    font-size: 50px;
    margin-left: -60px;
  }

  /* line 378, ../sass/screen.scss */
  .subheader-info h1, .subheader-info h2 {
    color: #223161;
  }

  /* line 381, ../sass/screen.scss */
  .wedding-party-photo {
    width: 300px;
  }

  /* line 383, ../sass/screen.scss */
  .wp-content {
    display: inherit;
  }
}
@media screen and (min-width: 600px) {
  /* line 391, ../sass/screen.scss */
  .desktop {
    display: block;
  }

  /* line 392, ../sass/screen.scss */
  .mobile-only {
    display: none;
  }

  /* line 395, ../sass/screen.scss */
  .subheader-info {
    width: 100%;
    font-size: 24px;
    padding-top: 10px;
  }

  /* line 401, ../sass/screen.scss */
  .main-side-navigation {
    text-align: right;
  }

  /* line 404, ../sass/screen.scss */
  h3 {
    font-size: 25px;
    color: #a8a8a9;
    text-transform: uppercase;
  }

  /* line 408, ../sass/screen.scss */
  h4 {
    text-transform: uppercase;
  }

  /* line 411, ../sass/screen.scss */
  .subheader-info h2 {
    margin-left: 40px;
    font-size: 32px;
  }

  /* line 417, ../sass/screen.scss */
  .wedding-party-photo {
    max-width: 300px;
    width: 300px;
  }

  /* line 419, ../sass/screen.scss */
  .wp-content {
    display: inline-block;
  }

  /* line 422, ../sass/screen.scss */
  body {
    background-color: #223161;
    color: #ffffff;
  }

  /* line 425, ../sass/screen.scss */
  .subheader-info h1, .subheader-info h2 {
    color: #ffffff;
  }

  /* line 427, ../sass/screen.scss */
  .side-nav li a:not(.button) {
    color: #ffffff;
  }

  /* line 431, ../sass/screen.scss */
  .tk-tamarillo {
    font-size: 50px;
    width: 100%;
    height: 100%;
  }

  /* line 437, ../sass/screen.scss */
  .subheader-info h1 {
    font-size: 90px;
  }

  /* line 440, ../sass/screen.scss */
  .subheader-info {
    font-size: 50px;
    margin-top: 20px;
  }

  /* line 443, ../sass/screen.scss */
  footer .row p {
    color: #ffffff;
  }

  /* line 445, ../sass/screen.scss */
  .section-content .row {
    background-color: #e3e3dd;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* line 455, ../sass/screen.scss */
  html .background-image-one {
    background-image: url("../img/b+k.jpg");
  }

  /* line 457, ../sass/screen.scss */
  body {
    background-color: #ffffff;
  }

  /* line 459, ../sass/screen.scss */
  .subheader-info h2 {
    color: #223161;
  }

  /* line 461, ../sass/screen.scss */
  .subheader-info h1, .subheader-info h2 {
    color: #223161;
    text-align: center;
  }

  /* line 465, ../sass/screen.scss */
  .tk-tamarillo {
    font-size: 50px;
    font-size: #223161;
    width: 100%;
    height: 100%;
  }

  /* line 471, ../sass/screen.scss */
  .side-nav li a:not(.button) {
    color: #223161;
  }

  /* line 475, ../sass/screen.scss */
  .tan-section {
    background-color: #e3e3dd;
    text-wrap: normal;
  }

  /* line 478, ../sass/screen.scss */
  .section-content .row {
    background-color: #e3e3dd;
  }

  /* line 481, ../sass/screen.scss */
  .navigation-section {
    position: relative;
    top: 210px;
    font-size: 19px;
  }
  /* line 486, ../sass/screen.scss */
  .navigation-section li {
    width: 100%;
  }

  /* line 492, ../sass/screen.scss */
  .desktop {
    display: none;
  }

  /* line 493, ../sass/screen.scss */
  .mobile-only {
    display: block;
  }

  /* line 495, ../sass/screen.scss */
  h2 {
    margin-left: auto;
    margin-right: auto;
    content-align: center;
    text-align: center;
  }

  /* line 500, ../sass/screen.scss */
  h3 {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    content-align: center;
    text-align: center;
    color: #a8a8a9;
    text-transform: uppercase;
  }

  /* line 508, ../sass/screen.scss */
  h4 {
    padding-top: 5px;
    font-size: 20px;
  }

  /* line 512, ../sass/screen.scss */
  h5 {
    color: #a8a8a9;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  /* line 527, ../sass/screen.scss */
  .wp-content {
    display: block;
  }
}
